<div class="login-page">
  
    <div class="content">
        
        <form class="login-form" [formGroup]="profileForm" (ngSubmit)="onLogin(profileForm.value)" nonvalidate>
            <div class="text-center">
                <h2 class="app-name">Hospital Management</h2>
            </div>
            <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="User Name" formControlName="username" required> 
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput type="password" placeholder="Password" formControlName="password" required>
                    </mat-form-field>
                </div>
            </div>
            <mat-error *ngIf="loginError">{{loginFailStatus}}</mat-error>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column" style="margin: 10px 0 10px 0">
               
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <button type="submit" mat-raised-button color="primary" class="w-100" [disabled]="!profileForm.valid">Login</button>
                </div>
            </div>

        </form>
    </div>
</div>