<div id="sidebar">
    <mat-nav-list>

        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
            <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'Dashboard' | translate }}
        </a>
        <a *ngIf="roleid=='1'" mat-list-item [routerLinkActive]="'active'" [routerLink]="['/addemployee']">
            <mat-icon class="sidenav-icon">group_add</mat-icon> {{ 'AddEmployee' | translate }}
        </a>
        <a *ngIf="roleid=='1'" mat-list-item [routerLinkActive]="'active'" [routerLink]="['/employee-list']">
            <mat-icon class="sidenav-icon">people</mat-icon> {{ 'EmployeeList' | translate }}
        </a>
        <a *ngIf="roleid=='1'" mat-list-item [routerLinkActive]="'active'" [routerLink]="['/round-add']">
            <mat-icon class="sidenav-icon">loop</mat-icon> {{ 'addround' | translate }}
        </a>
        <a *ngIf="roleid=='1'" mat-list-item [routerLinkActive]="'active'" [routerLink]="['/round-list']">
            <mat-icon class="sidenav-icon">graphic_eq</mat-icon> {{ 'roundlist' | translate }}
        </a>
        <a *ngIf="roleid=='1'" mat-list-item [routerLinkActive]="'active'" [routerLink]="['/round-view']">
            <mat-icon class="sidenav-icon">details</mat-icon> {{ 'roundview' | translate }}
        </a>
        <a *ngIf="roleid=='2'" mat-list-item [routerLinkActive]="'active'" [routerLink]="['/my-shift']">
            <mat-icon class="sidenav-icon">details
            </mat-icon> {{ 'myShift' | translate }}
        </a>
        <a *ngIf="roleid=='2'" mat-list-item [routerLinkActive]="'active'" [routerLink]="['/shift-list']">
            <mat-icon class="sidenav-icon">graphic_eq
            </mat-icon> {{ 'shiftlist' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/employee-profile']">
            <mat-icon class="sidenav-icon">sentiment_very_satisfied
            </mat-icon> {{ 'Profile' | translate }}
        </a>

        <a mat-list-item [routerLinkActive]="'active'" (click)="onLoggedout()">
            <mat-icon class="sidenav-icon">exit_to_app</mat-icon> {{ 'Log Out' | translate }}
        </a>
    </mat-nav-list>
</div>